* {
  margin: 0;
  text-decoration: none;
}

.app__header {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.app__input {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.app__input > input {
  flex: 0.9;
  border: 1px solid coral;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.clear {
  object-fit: contain;
  color: black;
  font-weight: bold;
}

.app__cls_btn {
  border: 1px solid #85c1e9;
  background-color: #85c1e9;
  outline: none;
}

.app__results {
  margin-top: 40px;
  text-align: center;
}

.app__location {
  justify-content: center;
  align-items: center;
  display: flex;
}

.location {
  font-size: 55px;
}
.pin {
  font-size: 55px;
}

.app__info {
  margin-top: 30px;
}

.weather {
  font-size: 45px;
}

.tempurature {
  margin-bottom: 20px;
  font-size: 35px;
}

.feels {
  margin-bottom: 20px;
}

footer {
  left: 0;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  color: black;
  text-align: center;
}
